/*esto es un comentario*/
summary{
    color:rgb(183, 179, 179);
}
body{
    background-color: rgb(228, 231, 195);
    color: rgb(183, 179, 179)
}
li{
    color:rgb(183, 179, 179);
}
details{
    font-size: 20px;
}
summary{
    color:rgb(183, 179, 179);
    font-size: 20px;
    }
#links-utiles{
    width: 300px;
    border: 5px solid grey;
    padding: 10px;
    margin: 20px;
}
#links-clases{
    width: 300px;
    border: 5px solid grey;
    padding: 10px;
    margin: 20px;
}
#carrito{
    position:fixed;
    bottom: 25px;
    right: 10px;
    color: rgb(60, 60, 60);
}
header{
    position: sticky;
    top: 0px;
}
.col{
    margin: 2px;
}