/*esto es un comentario*/
summary{color:black;}
body{background-color: #565656;}
li{color:black;}
details{font-size: 20px;}
summary{color:black; font-size: 20px;}
#titulo-web{font-size: 35px; text-align: center; color: black;}